*{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    font-size: 50px;
    color: white;
    background-color: rgb(144, 36, 36);
    border: 5px solid red;
    font-weight: normal;
    border-radius: 10px;
}
h3{
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: rgb(53, 45, 45);
    border: 3px solid red;
    font-weight: normal;
    border-radius: 7px;
}
#horiz ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
}
#horiz li{
    float: left;
}#horiz li a{
    font-weight: bold;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: azure;
    border-radius: 5px;
    margin: 8px;
}
#horiz li a:hover{
    background-color: yellowgreen;
    border-bottom: solid red;
    color: rgb(18, 0, 216);
}
#vert ul{
    list-style-type: none;
    margin: 0;
    padding: 25px;
    width: 125px;
    background-color: #333;
}
#vert li a{
    font-weight: bold;
    display: block;
    color: #000;
    padding: 14px 16px;
    text-decoration: none;
    background-color: azure;
    text-align: center;
    border-radius: 5px;
    margin: 3px;
}
#vert li a:hover{
    background-color: yellowgreen;
    border-bottom: solid red;
    color: rgb(18, 0, 216);
}
